{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
<div class="container text-center">
<div id="map" style="width:500px; height:400px; margin:0 auto;"></div>
</div>
</div>
<script src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=2e28385adef29c74872aee6bcff66b4a"></script>
<script>
// 내 위칭(위도/경도) 알아내기
navigator.geolocation.getCurrentPosition(function(Position) {
    car lat = position.coords.latitude;
    car lng = position.coords.longitude;

    var container = document.getElementById('map');
    var options = {
    center : new kakao.maps.LatLng(lat,lng), // 강남역
    level : 4
    };
    var map = new kakao.maps.Map(container, options);
    var markerPosition = new kakao.maps.LatLng(37.4980239, 127.027572);
    var marker = new kakao.maps.Marker({
    position: markerPosition
    });
    marker.setMap(map);
});
</script>
{% endblock %}